* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: grid;
  gap: 5px;
  /* allows the div to be it's own grid */
  grid-template-areas:
    'header header header'
    'sidebar main main'
    'footer footer footer';
}

.item {
  background-color: black;
  color: whitesmoke;
  text-align: center;
  padding: 10px;
}

.header {
  background-color: white;
  color: black;
  text-align: left;
  text-decoration: underline;
  text-decoration-color: yellow;
  font-size: 30px;
  grid-area: header;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-area: sidebar;
}

.footer {
  display: flex;
  flex-direction: column;
  grid-area: footer;
}

.main {
  grid-area: main;
}

.image-container {
  display: grid;
  gap: 2px;
  grid-template-areas:
    'image-1 image-2 image-2'
    'image-3 image-2 image-2'
    'image-4 image-5 image-6';
}

.image-1 {
  grid-area: image-1;
}

.image-2 {
  grid-area: image-2;
}

.image-3 {
  grid-area: image-3;
}

.image-4 {
  grid-area: image-4;
}

.image-5 {
  grid-area: image-5;
}

.image-6 {
  grid-area: image-6;
}

a {
  color: white;
  padding: 10px;
  text-decoration: none;
  margin: 5px;
}

.grid-image {
  width: 100%;
}
